<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Bourbon Find</title>
  </head>
  
  
    
    <header>
      <a href="/" style="text-decoration: none; color: black;">
        <h1>Bourbon</h1>
      </a>
    </header>

    <nav class="nav">
      <a href="/Gin">Gin</a>
      <a href="/Rum">Rum</a>
      <a href="/Tequila">Tequila</a>
      <a href="/Vodka">Vodka</a>
      <a href="/Whiskey">Whiskey</a>
    </nav>
  
<!--   <div id="login">
    <a href="/login">Login</a><br>
    <a href="/register">Register</a>
  </div> -->

  <body>

    {{{body}}}

  </body>

</html>