@import url(http://fonts.googleapis.com/css?family=Raleway:300);

body {
  width: 100%;
  height: 100%;
  font-family: Raleway;
  font-weight: 300; 
  background: url(http://i.imgur.com/LOQfigB.png);
}

#container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#home_banner{
color : whitesmoke;
text-align: center;
font-size: 400px;

}
.nav {
  background-color: gray;
  color: white;
  text-align: center;
  width: 100%;
  height: 80px;
  float: left;
}
.nav a, .nav a:visited {
  text-decoration: none;
  font-size: 60px;
  color: black;
  padding-left: 100px;
}


.nav a:hover{
  color: lavender;
}

.single {
  width: 500px;
  height: 600px;
  border-radius: 5px;
  /*float: left;*/
  text-align: center;
  margin: 15px;
}

.single a {
  text-decoration: none;
  color: black;
}

.box {
  border: 3px solid darkslategrey;
  background: whitesmoke;
}

header h1{
  text-align: center;
  font-weight: 300px;
  font-size: 120px;
  color: white;
}

img {
  height: 400px;
  width: 325px;
  padding: 1px;
  border: 1px solid gray;
  opacity: .9;
}

#map-canvas{
  position: relative;
  top: 175px;
  width: 90%;
  height: 600px;
  margin : 0 auto;
  margin-bottom: 50px; 
}
.logger form{
  font-size: 25px;
  position: relative;
  top: 100px;
  width: 200px;
  height: 150px;
  background-color: white;
  margin: 0 auto;
}
input{
text-align: center;
}
