

@import url(http://fonts.googleapis.com/css?family=Marcellus+SC);



body {
  width: 100%;
  height: 100%;
  font-family: 'Marcellus SC';
  /*font-family: Raleway;*/
  font-weight: 300; 
  opacity: .9;
  /*background: url(http://static1.squarespace.com/static/4fcf5c8684aef9ce6e0a44b0/t/51732faae4b047d367f63e02/1367596277722/b2330967a67bd73fc62f73365d02dfb6.jpg);*/
  background-size: cover;
  padding: 0;
  background: url(http://ww1.prweb.com/prfiles/2015/01/30/12743351/Chevron%20pattern%20teak%20from%20pioneer%20millworks.jpg);
  
}
html, body {
    padding: 0;
    margin: 0;
}
#container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.banner{
position: relative;
margin-top:0px;
color : gray;
float:right;
text-align: right;
font-size: 150px;
z-index: 0;

}
.nav {
  background-color: gray;
  color: white;
  text-align: center;
  width: 100%;
  height: 60px;
  float: left;
}
.nav a, .nav a:visited {
  text-decoration: none;
  font-size: 40px;
  color: black;
  padding-left: 100px;
}


.nav a:hover{
  color: lavender;
}

.single {
  position: relative;
  width: 500px;
  height: 600px;
  border-radius: 5px;
  /*float: left;*/
  text-align: center;
  margin: 15px;
}

.single a {
  position: relative;
  text-decoration: none;
  color: black;
  
}

.box {
  background: whitesmoke;
  border-radius: 5px;
}

header h1{
  text-align: center;
  font-weight: 300px;
  font-size: 70px;
  color: white;
  margin:5px;
}

img {
  height: 400px;
  width: 325px;
  padding: 1px;
  border: 1px solid gray;
  opacity: .9;
}
#gmap{
  position: fixed;
  top:175px;
  left: 50px;
}
#map-canvas{
  position: fixed;
  top: 285px;
  width: 90%;
  height: 600px;
  margin : 0 auto;
  margin-bottom: 50px; 
}
#map-canvas2{

  float: right;
  right: 50px;
  top: 143px;
  width: 50%;
  height: 300px;
  z-index: 1;
}

.newUserReg form{
  font-size: 25px;
  position: fixed;
  top: 175px;
  right: 300px;
  width: 200px;
  height: 150px;
  margin: 0 auto;
}

.logger {
  position: absolute;
  left: 35%;
  top: 175px;
  font-size: 25px;
  width: 200px;
  height: 150px;
}

#reg{
  position: absolute;
  right: 47%;
  top:280px;
}
input{
text-align: center;
width: 400px;
height: 30px;
}

.thumb{
  height: 100px;
  width: 125px;
  margin-right: 200px;
  border-radius: 10%;
}

.thumb1{
  font-size: 50px;
}

#showBrand{
  float: left;
  position: absolute;
  top: 175px;
  background-color: gray;
  width: 50%;
  font-size: 75px;
}

.liqSingleBox{
  position: relative;
  top:400px;
  height: 800px;
  width: 95%;
  background-color: white;
}
.liqSingleBox a{
  
}
#liqDesc{
  position: relative;
  font-size: 30px;
  color: blue;
  margin: auto 0;
}
.liqHead{
  font-size: 50px;
}
#singleImage img{
  height: 1100px;
  width: 1000px;
  padding: 1px;
  border: 1px solid gray;
  opacity: .9;
}
.threader{
  float: right;
  position: relative;
  top: 900px;
}

.threader2{
  float: right;
  position: relative;
  top: 200px;
}
#alwaystop{
  position: fixed;
  top: 0px;
  text-align: center;
  background-color: black;
  width: 100%;
  z-index: 1;
  padding: 0;
  margin: 0;
}
.content{
  position: relative;
  top: 125px;
  background-color: gray;
}

.liqIndexBoxes{
  position: relative;
  height:225px;
  background-color: white;
  top: 100px;

}
.oneBottle{
  height: 200px;
  width: 175px;
  
}

.liqIndexBoxes h3{
  position: absolute;
  right:50%;
}
#liqShow{
  position: fixed;
  margin: auto;
}
#locate{
  height:50px;
  width:100px;
  position: fixed;
  top: 420px;
  right: 520px;
}
.singleImage1{
  height:100px;
  position: absolute;
  top: 175px;
}