<form action="/artists" method="POST" style="clear: left; text-align: center;">
	
	<label for="name">Name<br>
		<input type="text" name="name"><br>
	</label><br>

	<label for="img_url">Photo URL<br>
		<input type="text" name="img_url"><br>
	</label><br>

	<label for="nationality">Nationality<br>
		<input type="text" name="nationality"><br>
	</label><br>

	<label for="birthyear">Birth Year<br>
		<input type="text" name="birth_year"><br>
	</label><br>

	<label for="description">Description<br>
		<input type="text" name="description"><br>
	</label><br>

	<input type="submit" value="Submit">

</form>