<div class="logger"> 
	 <form action="/login" method="POST" style="clear: left; text-align: center;">	
			<input type="text" name="name" placeholder="User Name"><br>
			<input type="text" name="password" placeholder="Password"><br>
		<input type="submit" value="Submit"><br>
	<a href="/users/new">Register</a>
	</form>

</div>
<div>{{name}}</div>



  <head>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
          center: new google.maps.LatLng(40.740083, -73.990070),
          zoom: 13,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  
    <div id="map-canvas"></div>

    {{#each users}}
    <div>{{name}} {{password}}</div>
    {{/each}}

<iframe id="gmaph" 
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDXVySrtOJ18B_Pt05cia9LFjd4MnxYLls
    &q=general+assembly+nyc",allowfullscreen>
</iframe>


