<h1>
	Add New Liquor Page
</h1>

<div class="logger">
	<form  action="/liquors" method="POST">
		<input type="text" name="liq_name" placeholder="Liquor Name"><br>
		<input type="text" name="liquor_type" placeholder="Liquor Type"><br>
		<input type="text" name="img_url" placeholder="Picture"><br>
		<input type="text" name="user_id" placeholder="User ID"><br>	
		<input type="submit" value="Submit"><br>
	</form>
</div>



