<form action="/paintings" method="POST" style="clear: left; text-align: center;">
    
    <label>Title<br>
      <input type="text" name="title"><br>
    </label><br>

    <label>IMG URL<br>
      <input type="text" name="img_url"><br>
    </label><br>

    <label>Year Made<br>
      <input type="text" name="year_made"><br>
    </label><br>

    <label>Artist<br>
      <select name="artist_id">
        {{#each artists}}
          <option value="{{id}}">{{name}}</option>      
        {{/each}}
      </select>
    </label><br>

    <input type="submit" value="Submit">

  </form>