
	<div id="showBrand">
		<p class="banner">{{thread.title}}</p>	
			<img src={{liquor.img_url}}>
		</a>	
		<p>Added By : {{thread.user_id}}</p>
		<img class="thumb" src={{user.img_url}}>
	</div>

<div class="threader">
	<form  action="/threads" method="POST" id="liqForm">
		<input type="text" name="title" placeholder="Create New Thread"><br>
		<textarea rows="25" cols="100" name="comment" placeholder="Enter Text Here..."></textarea><br>
		<input type="submit" value="Submit"><br>
	</form>
</div>
