<h1>
	User Registration Page
</h1>

<div class="logger">
	<form  action="/users" method="POST">
		<input type="text" name="name" placeholder="User Name"><br>
		<input type="text" name="password" placeholder="Password"><br>
		<input type="text" name="email" placeholder="Email"><br>
		<input type="text" name="img_url" placeholder="Picture"><br>	
		<input type="text" name="zipcode" placeholder="Zip Code"><br>		
		<input type="submit" value="Submit"><br>
	</form>
</div>



